

@media only screen and (min-width: 736px) {}
@media only screen and (min-width: 1300px) {
    .about-text-column {
        width: 50%;
        float: left;
        text-align: justify;
        padding-right: 3vw;
    }
}