* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #000;
    text-decoration: none;
}
li {
    list-style-type: none;
}
img {
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 736px) {
    body {
        height: 2000px;
    }
    html {
        font-family: Poppins, Arial, sans-serif;
        font-size: 12px;
    }
    h1 {
        font-size: 3rem;
        font-weight: 700;
    }
    h2 {
        font-size: 2rem;
        font-weight: 700;
    }
    h3 {
        font-size: 1.5rem;
        font-weight: 700;
    }
    p {
        font-size: 1rem;
        font-weight: 300;
        margin-top: 10px;
    }
    .slogan {
        font-size: 1.9rem;
    }
    /* NAVIGACJA */
    nav {
        width: 100%;
        height: 70px;
        background-color: #fff;
        box-shadow: -7px -3px 3px 3px #818181;
        font-weight: 700;
        font-size: 1.2rem;
        display: inline-block;
        position: fixed;
        top: 0;
        left: 0;
    }
    nav p {
        display: none;
    }
    .logo {
        width: 70px;
        height: 35px;
        position: absolute;
        top: 25%;
        left: 40px;
    }
    .nav-list-desktop {
        display: initial;
    }
    nav ul {
        float: right;
        padding: 30px 40px 30px 0;
    }
    nav li {
        float: left;
        padding-left: 20px;
    }
    /* FULL WIDTH IMAGE */
    .full-width-img {
        background-image: url("../images/landing-hero.jpg");
        width: 100%;
        height: 380px;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 70px 0 50px 0;
    }
    /* MAIN ABOUT */
    .main-width-centred {
        margin: 35px auto;
        text-align: center;
        width: 90%;
    }
    hr {
        width: 50%;
        height: 2px;
        background-color: #000;
        border: none;
        margin: 25px auto;

    }
    /* MAIN SHOP */
    .product {
        margin: 40px 0;
    }
    .main-product-img img{
        width: 100%;
        height: auto;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 10px 0;
    }
  }






  

@media screen and (min-width: 737px) {
    body {
        font-family: Poppins, Arial, sans-serif;
        font-size: 16px;
    }
    .main-width {
        width: 1366px;
        height: 100px;
        margin: 0 auto;
    }

    /* NAVIGACJA */
    nav {
        width: 100%;
        height: 100px;
        background-color: #fff;
        box-shadow: -6px -6px 6px 6px #818181;
        font-size: 1rem;
        font-weight: 700;
        display: inline-block;
        position: fixed;
        top: 0;
        left: 0;
    }
    nav p {
        width: 300px;
        float: left;
        padding: 37px 0;
    }
    .logo {
        width: 100px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .nav-list-desktop {
        display: initial;
    }
    nav ul {
        float: right;
        padding: 37px 0;
    }
    nav li {
        width: 100px;
        float: left;
    }
    .nav-list a:hover {
        border: 3px solid black;
        padding: 5px 10px;
    }

    /* FULL WIDTH IMAGE */
    .full-width-img {
        background-image: url("../images/landing-hero.jpg");
        width: 100%;
        height: 850px;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 100px 0;
    }
  }