* {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fullwidth-images {
    max-width: 100%;
    height: 70vh; }
.product-img {
    margin-top: 4vh;
}
.logo-full {
    width: 50vw;
    height: 40vw;
    margin: 0 auto;
    background-size: contain;
    background-image: url("../../images/ducky_logofull_pl.jpg"); }

.hero { margin-top: 20vw; }
.main { background-image: url("../../images/main/ducky_hero-m.jpg"); }
.main-shop { background-image: url("../../images/main/ducky_worek-m.jpg"); }
.shop { background-image: url("../../images/shop/ducky_hero-m.jpg"); }
.about-us { background-image: url("../../images/about/about.jpg"); }
.contact { background-image: url("../../images/contact/mathyas-kurmann-fb7yNPbT0l8-unsplash.jpg");}

@media only screen and (min-width: 736px) {
    .hero { margin-top: 14vw; }
    .main { background-image: url("../../images/main/ducky_hero-ip.jpg"); }
    .main-shop { background-image: url("../../images/main/ducky_worek-ip.jpg"); }
    .shop { background-image: url("../../images/shop/ducky_hero-ip.jpg"); }
}

@media only screen and (min-width: 1300px) {
    .hero { margin-top: 5vw; }
    .main { background-image: url("../../images/main/ducky_hero-d.jpg"); }
    .main-shop { background-image: url("../../images/main/ducky_worek-d.jpg"); }
    .shop { background-image: url("../../images/shop/ducky_hero-d.jpg"); }
    .logo-full {
        width: 300px;
        height: 300px; }
}