* {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fullwidth-images {
    max-width: 100%;
    height: 90vh; }

.hero { margin-top: 20vw; }
.main { background-image: url("../../images/main/ducky_hero-m.jpg"); }
.main-shop { background-image: url("../../images/main/ducky_worek-m.jpg"); }
.shop { background-image: url("../../images/shop/ducky_hero-m.jpg"); }

@media only screen and (min-width: 736px) {
    .hero { margin-top: 14vw; }
    .main { background-image: url("../../images/main/ducky_hero-ip.jpg"); }
    .main-shop { background-image: url("../../images/main/ducky_worek-ip2.jpg"); }
    .shop { background-image: url("../../images/shop/ducky_hero-ip.jpg"); }
}

@media only screen and (min-width: 1300px) {
    .hero { margin-top: 5vw; }
    .main { background-image: url("../../images/main/ducky_hero-d.jpg"); }
    .main-shop { background-image: url("../../images/main/ducky_worek-d2.jpg"); }
    .shop { background-image: url("../../images/shop/ducky_hero-d.jpg"); }
}