* {
    font-family: Poppins, Arial, sans-serif;
    font-weight: 800;
    text-align: left;
}

html { font-size: 14px; }
h1 {
    font-size: 3rem;
    line-height: 4rem; }
h2 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2vw; }
h3 {
    font-size: 1.5rem;
    margin-top: 3vh; }
p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7rem;
    margin: 2vh 0; }
p.bold { font-weight: 800; }

@media only screen and (min-width: 736px) {
    html { font-size: 28px; } 
}
@media only screen and (min-width: 1300px) {
    html { font-size: 16px; } 
    h1 {
        font-size: 6rem;
        line-height: 7rem; }
    p { margin: 0 0 3vw 0; }
    .about h1 {
        text-align: right;
        margin: 0; }
}   